<!DOCTYPE html>
<meta charset="utf-8">
<html>
<head>
  <title><% format_full_title %></title>

  <style type="text/css">
    body, h1, p, ul, li {
      padding: 0;
      margin: 0;
    }
    body {
      background: #fff;
      color: #000;
      width: 384px;
      font-family: Arial, sans-serif;
      font-size: 18px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .repo {
      white-space: nowrap;
    }
    .user,
    .actor,
    .repo-name {
      font-weight: bold;
    }
    h1, p, li {
      padding-left: 5px;
      padding-right: 5px;
    }
    li p {
      padding-left: 0;
      padding-right: 0;
    }
    h1 {
      font-size: 24px;
      font-weight: bold;
      line-height: 28px;
      padding-bottom: 8px;
    }
    p {
      line-height: 23px;
    }
    .intro {
      background: url(<%= url('/img/line.png') %>) 0 0 no-repeat;
      padding-top: 14px;
      padding-bottom: 6px;
    }
      .intro-text {
        display: inline-block;
        width: 278px;
        vertical-align: top;
        margin-right: 10px;
      }
      .intro-avatar {
        border: 1px solid #000;
        display: inline-block;
      }
    ul {
      background: url(<%= url('/img/line.png') %>) 0 0 no-repeat;
      padding-top: 16px;
    }
      li {
        list-style-type: none;
        width: 374px;
        overflow: hidden;
        line-height: 23px;
        padding-bottom: 10px;
        border-bottom: 1px dotted #000;
        margin-bottom: 9px;
      }
      li:last-child {
        border-bottom: none;
        padding-bottom: 35px;
        background: url(<%= url('/img/network.png') %>) 0 100% no-repeat;
      }
        p.comment {
          margin-left: 10px;
          font-size: 16px;
        }
          .details {
            font-style: italic;
          }
  </style>

</head>
<body>


  <div class="intro">
    <div class="intro-text">
      <h1><%= format_title %></h1>
      <p class="intro-desc">
        For
        <% if @organization %>
          <span class="user"><%= @organization['name'] %></span> (<%= @organization['login'] %>)
        <% else %>
          <span class="user"><%= @user['name'] %></span> (<%= @user['login'] %>)
        <% end %>
        from the past 24&nbsp;hours
      </p>
    </div>
    <img class="intro-avatar dither" src="<% if @organization %><%= @organization['avatar_url'] %><% else %><%= @user['avatar_url'] %><% end %>" width="80" height="80" alt="Avatar" />
  </div>

  <%# How many words do we truncate long strings to? %>
  <% comment_length = 18 %>

  <%# What's the maximum number of events we want to show? %>
  <%# We only have 1 page (30) events maximum anyway. %>
  <% max_events = 10 %>

  <ul>
    <% @events.each_with_index do |e, idx| %>

      <% if idx == (max_events - 1) %>
        <li>And more on GitHub.com…</li>
        <% break %>
      <% end %>

      <li>
        <p><span class="actor"><%= e['actor']['login'] %></span>

        <%# Event types: http://developer.github.com/v3/activity/events/types/ %>
        <% case e['type']
             when 'CommitCommentEvent' %>
            commented on commit <span class="repo"><%= format_repo(e['repo']['name']) %>@<%= e['payload']['id'] %></span>
            </p>
            <p class="comment"><%= truncate(e['payload']['comment']['body'], comment_length) %></p>

          <% when 'CreateEvent' %>
            created
            <%= e['payload']['ref_type'] %><%# 'branch', 'repository' or 'tag' %>

            <% if e['payload']['ref'] %>
              <%= e['payload']['ref'] %><%# eg 'master' %> at
            <% end %>
            <span class="repo"><%= format_repo(e['repo']['name']) %></span>

          <% when 'DeleteEvent' %>
            deleted 
            <%= e['payload']['ref_type'] %><%# 'branch' or 'tag' %>
            <%= e['payload']['ref'] %> at <span class="repo"><%= format_repo(e['repo']['name']) %></span>

          <% when 'DownloadEvent' %>
            uploaded a file to <span class="repo"><%= format_repo(e['repo']['name']) %></span>

          <% when 'FollowEvent' %>
            started following <span class="actor"><%= e['payload']['target']['login'] %></span>

          <% when 'ForkEvent' %>
            forked <span class="repo"><%= format_repo(e['repo']['name']) %></span>
            <!-- to <span class="repo"><%= e['payload']['forkee']['full_name'] %></span>-->

          <% when 'ForkApplyEvent' %>
            <%# No longer used: https://github.com/holman/feedback/issues/176 %>

          <% when 'GistEvent' %>
            <%= e['payload']['action'] %>d<%# 'create' or 'update' %> 
            gist: <%= e['payload']['id'] %> 

          <% when 'GollumEvent' %>
            created/edited <%= pluralize(e['payload']['pages'].length, 'page') %>
            on <span class="repo"><%= format_repo(e['repo']['name']) %></span>

          <% when 'IssueCommentEvent' %>
            commented on issue <span class="repo"><%= format_repo(e['repo']['name']) %>#<%= e['payload']['issue']['id'] %></span>
            </p>
            <p class="comment"><%= truncate(e['payload']['comment']['body'], comment_length) %></p>

          <% when 'IssuesEvent' %>
            opened issue <span class="repo"><%= format_repo(e['repo']['name']) %>#<%= e['payload']['id'] %></span>
            </p>
            <p class="comment"><%= truncate(e['payload']['title'], comment_length) %></p>

          <% when 'MemberEvent' %>
            <%= e['payload']['action'] %><%# 'added' %>
            <span class="actor"><%= e['payload']['member']['login'] %></span> to <span class="repo"><%= format_repo(e['repo']['name']) %></span>

          <% when 'PublicEvent' %>
            open sourced <span class="repo"><%= format_repo(e['repo']['name']) %></span>

          <% when 'PullRequestEvent' %>
            <%# Not sure if this is the right logic for what should be displayed. %>
            <% if e['payload']['action'] == 'closed' && e['payload']['pull_request']['merged'] %>
              merged
            <% else %>
              <%# “opened”, “closed”, “synchronize”, or “reopened” %>
              <%= e['payload']['action'] %>
            <% end %>
            pull request
            <span class="repo"><%= format_repo(e['repo']['name']) %>#<%= e['payload']['number'] %></span>
            </p>
            <p class="comment">
            <%= truncate(e['payload']['pull_request']['title'], comment_length) %>
            <br />
            <span class="details"><%= pluralize(e['payload']['pull_request']['commits'], 'commit') %>
            with
            <%= pluralize(e['payload']['pull_request']['additions'], 'addition') %>
            and
            <%= pluralize(e['payload']['pull_request']['deletions'], 'deletion') %></span>

          <% when 'PullRequestReviewCommentEvent' %>
            <%# Not sure if this formatting is right %>
            commented on a pull request on
            <span class="repo"><%= format_repo(e['repo']['name']) %></span>
            </p>
            <p class="comment"><%= truncate(e['payload']['comment']['body'], comment_length) %></p>

          <% when 'PushEvent' %>
            pushed to
            <%= e['payload']['ref'].split('/').last %><%# 'master' of 'ref/heads/master' %>
            at <span class="repo"><%= format_repo(e['repo']['name']) %></span>
            </p>
            <p class="comment"><span class="details">(<%= pluralize(e['payload']['size'], 'commit') %>)</span>

          <% when 'TeamAddEvent' %>
            <%# Not sure if this formatting is right %>
            added
            <% if e['payload']['user'] %>
              <span class="actor"><%= e['payload']['user']['login'] %></span>
            <% elsif e['payload']['repo'] %>
              <span class="repo"><%= e['payload']['repo']['name'] %></span>
            <% end %>
            to <span class="actor"><%= e['payload']['team']['name'] %></span>

          <% when 'WatchEvent' %>
            starred <span class="repo"><%= format_repo(e['repo']['name']) %></span>

        <% end %>
        </p>
      </li>
    <% end %>
  </ul>

</body>
</html>
