<!DOCTYPE html>
<meta charset="utf-8">
<html>
<head>
  <title>TITLE</title>

  <style type="text/css">
    body {
      background: #fff;
      color: #000;
      width: 384px;
      padding: 0;
      margin: 0;
      font-family: Arial, sans-serif;
      font-size: 16px;
    }
  </style>

</head>
<body>

  <ul>
    <% @events.each do |e| %>
      <li>
        <%= e['actor']['login'] %>

        <%# Event types: http://developer.github.com/v3/activity/events/types/ %>
        <% case e['type']
             when 'CommitCommentEvent' %>
             commented on commit <%= e['repo']['name'] %>@<%= e['payload']['id'] %>
             <br />
            <%= e['payload']['comment']['body'] %>  <!-- TODO: Truncate -->

          <% when 'CreateEvent' %>
            created
            <%= e['payload']['ref_type'] %><%# 'branch', 'repository' or 'tag' %>

            <% if e['payload']['ref'] %>
              <%= e['payload']['ref'] %><%# eg 'master' %> at
            <% end %>
            <%= e['repo']['name'] %>

          <% when 'DeleteEvent' %>
            deleted 
            <%= e['payload']['ref_type'] %><%# 'branch' or 'tag' %>
            <%= e['payload']['ref'] %> at <%= e['payload']['ref'] %>

          <% when 'DownloadEvent' %>
            download
            TODO

          <% when 'FollowEvent' %>
            started following <%= e['payload']['target']['login'] %>

          <% when 'ForkEvent' %>
            forked <%= e['repo']['name'] %>
            <!-- to <%= e['payload']['forkee']['full_name'] %> -->

          <% when 'ForkApplyEvent' %>
            fork apply
            TODO

          <% when 'GistEvent' %>
            <%= e['payload']['action'] %>d<%# 'create' or 'update' %> 
            gist: <%= e['payload']['id'] %> 

          <% when 'GollumEvent' %>


          <% when 'IssueCommentEvent' %>
            commented on issue <%= e['repo']['name'] %>#<%= e['payload']['id'] %>
            <br />
            <%= e['payload']['comment']['body'] %>  <!-- TODO: Truncate -->

          <% when 'IssuesEvent' %>

          <% when 'MemberEvent' %>

          <% when 'PublicEvent' %>

          <% when 'PullRequestEvent' %>
            merged pull request

          <% when 'PullRequestReviewCommentEvent' %>

          <% when 'PushEvent' %>
            pushed to

          <% when 'TeamAddEvent' %>

          <% when 'WatchEvent' %>
            starred <%= e['repo']['name'] %>

        <% end %>
      </li>
    <% end %>
  </ul>

</body>
</html>
